html {
   overflow-y: scroll;
}

body {
   padding-top: 50px;
}

#todo-list {
   margin-bottom: 30px;
}

.emptyError {
   border: 1px solid red;
}

.listTitle {
   border-bottom: 1px solid #dddddd;
}

.box{
    margin: 0 auto;
    width:60%;
    border: 1px solid #dddddd;
    border-radius: 15px;
}
